<!-- <br><br> -->
<!-- <h5 id="unsupportedmsg" >This application is not supported in your browser, use Chrome, Safari or Firefox</h5> -->
<!-- <div id="unsupportedmsg"></div> -->
<!-- <p *isChrome>I'll show you if I'm a Chrome Browser.</p>
    <p *isFirefox>I'll show you if I'm a Firefox Browser.</p>
    <p *isSafari>I'll show you if I'm a Safari Browser.</p>
    <p *isOpera>I'll show you if I'm a Opera Browser.</p> -->
<!-- <p *isIE style="text-align: center;"> <br> <br> This application is not supported in your browser, use Chrome, Safari or Firefox.</p> -->

<!-- <div class="container-fluid">


    <div class="auth-card">
        <div class="logo-box">
            <embed src="assets/img/svg/logo.svg" >
        </div>

        <div id="Mainpage" [style.display]="Mainpage">
            <div class="auth-card-btn-box text-center">
                <div class="ptl pvm">
                    <button type="button" class="btn-vm-auth" (click)="Mainpagecreateaccount()">Create Account</button>
                </div>
                <div class="pvm">
                    <button type="button" class="btn-vm-clear"  (click)="Mainpagesignin()" >Sign In</button>
                </div>
            </div>
        </div>

        <div id="Loginpage" [style.display]="Loginpage">
            <form [formGroup]="formLogin" (ngSubmit)="login()" autocomplete="on" >
                <div class="auth-card-fields">
                    <div class="input-wrap">
                        <input  placeholder="Email"   value="" type="email" [(ngModel)]='user.email' formControlName="email" class="vm-input" >

                    </div>

                    <div class="input-wrap">
                        <input  placeholder="Password" value="" type="password" [(ngModel)]='user.password' formControlName="password" class="vm-input">
                    </div>



                </div>
                <a style="float: right; margin-top: 5px; font-size: 0.9em;" [routerLink]="['/reset']">Forgot your password?</a>
                <div class="auth-card-btn-box text-center">
                    <div class="text-center">
                          <button type="submit"   class="btn-vm-auth" (click)="login()" >Sign In</button>
                    </div>
                    <div>
                    <br>
                     Don't have an account? <a [routerLink]="['/registration']">Sign up</a>
                    </div>

                </div>
            </form>

        </div>

        <div id="Loadingpage" [style.display]="Loadingpage">
            <div class="text-center">
                <div class="ptl pbm">
                    <span class="vm-loader"></span>
                </div>
                <div class="pts loading-txt">Logging in.....</div>
            </div>
        </div>
    </div>





</div>
<div class="copyright"  >
    <p style="float:right; margin-right: 1%">Version 0.0.13</p>
    <p style="text-align: center ;margin-left: 9%">&copy; 2018 VeeMed Inc</p>
</div> -->

<div class="flex-container">
    <div class="auth-card">
        <div class="logo-box">
            <embed src="assets/img/svg/logo.svg" />
        </div>

        <div id="Mainpage" [style.display]="Mainpage">
            <div class="auth-card-btn-box text-center">
                <div class="ptl pvm">
                    <button
                        type="button"
                        class="btn-vm-auth"
                        (click)="Mainpagecreateaccount()"
                    >
                        Create Account
                    </button>
                </div>
                <div class="pvm">
                    <button
                        type="button"
                        class="btn-vm-clear"
                        (click)="Mainpagesignin()"
                    >
                        Sign In
                    </button>
                </div>
            </div>
        </div>

        <div id="Loginpage" [style.display]="Loginpage">
            <form
                [formGroup]="formLogin"
                (ngSubmit)="login()"
                autocomplete="on"
            >
                <div class="auth-card-fields">
                    <div class="input-wrap">
                        <input
                            placeholder="Email"
                            value=""
                            type="email"
                            [(ngModel)]="user.email"
                            formControlName="email"
                            class="vm-input"
                        />
                    </div>

                    <div class="input-wrap">
                        <input
                            placeholder="Password"
                            value=""
                            type="password"
                            [(ngModel)]="user.password"
                            formControlName="password"
                            class="vm-input"
                        />
                    </div>
                </div>
                <a
                    style="float: right; margin-top: 5px; font-size: 0.9em;"
                    [routerLink]="['/reset']"
                    >Forgot your password?</a
                >
                <div class="auth-card-btn-box text-center">
                    <div class="text-center">
                        <button type="submit" class="btn-vm-auth">
                            Sign In
                        </button>
                    </div>
                    <div>
                        <br />
                        Don't have an account?
                        <a [routerLink]="['/registration']">Sign up</a>
                    </div>
                </div>
            </form>
        </div>

        <div id="Loadingpage" [style.display]="Loadingpage">
            <div class="text-center">
                <div class="ptl pbm">
                    <span class="vm-loader"></span>
                </div>
                <div class="pts loading-txt">Please Wait...</div>
            </div>
        </div>
    </div>
</div>
<!-- <button type="button" (click)="play()">Play</button> -->
<!-- Footer -->
<div class="footer">
    <div class="copyright">
        <!-- <p style="float:right; margin-right: 2px">Version 0.0.30</p> -->
        <!-- <p style="float:right; margin-right: 2px">Version 1.0.5</p> -->
        <!-- <p style="float:right; margin-right: 2px">Version 1.0.6</p> -->
        <!-- <p style="float:right; margin-right: 2px">Version 1.0.7</p> -->
        <!-- <p style="float:right; margin-right: 2px">Version 1.0.8</p> -->
        <p style="float:right; margin-right: 2px">Version 1.0.12</p>
        <p style="text-align: center ;margin-left: 9%">
            &copy; {{currentDate | date:'yyyy'}} VeeMed Inc
        </p>
    </div>
</div>
