<!-- <div class="container"> -->
  <div class="row ">
    <div class="col-md-4"  >
    </div>

    <div class="col-md-4 text-center">
        <button mat-icon-button style="float: left;" (click)="decrement()" [disabled]="prevBtnDisabled">
            <mat-icon  class="material-icons" style="font-size: 3em;"  [style.color]=" prevBtnDisabled ? 'rgb(213, 226, 228)' : 'rgb(0,174,204)'" [style.cursor]=" prevBtnDisabled ? 'not-allowed' : 'pointer'" >keyboard_arrow_left</mat-icon>
          </button>
          <button mat-icon-button style="float: right;" (click)="increment()" [disabled]="nextBtnDisabled">
              <mat-icon  class="material-icons" style="font-size: 3em;" [style.color]=" nextBtnDisabled ? 'rgb(213, 226, 228)' : 'rgb(0,174,204)'" [style.cursor]=" nextBtnDisabled ? 'not-allowed' : 'pointer'" >keyboard_arrow_right</mat-icon>
          </button>
      <h5 style="line-height:40px;">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h5>
      
    </div>
    <div class="col-md-4">
      
      </div>
  
  </div>

  <br>
  
    <ng-template  #customCellTemplate let-day="day" let-locale="locale">
        <div class="cal-cell-top">
            <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
            <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
          </div>
    
        <div *ngFor="let offDays of offDays" style="z-index: 5" >
            <div *ngIf="offDays.offDay == (day.date | date: 'yyyy-MM-ddT00:00:00')">
                <div  class="cal-day-selected" style="border: 0px solid black; width:50px; height: 50px; margin-left: auto; margin-right: auto; margin-top:-50%"  ><p>&nbsp;</p></div>
              </div>
        </div>     
        <div *ngFor="let selectedDates of selectedDates" style="z-index: 5"  >
          <div *ngIf="selectedDates == (day.date | date: 'yyyy-MM-ddT00:00:00')">
              <div  class="cal-day-selected" style="border: 0px solid black; width:50px; height: 50px; margin-left: auto; margin-right: auto; margin-top:-50%"  ><p>&nbsp;</p></div>
            </div>
        </div>
      <div *ngFor="let holidays of holidays" class="holidays" >
          <div  *ngIf="holidays.holidayOn == (day.date | date: 'yyyy-MM-ddT00:00:00')" style="font-size: 0.9em;">
            {{holidays.holidayName}}
          </div>
      </div>
    </ng-template>

    <!-- For Loading page -->
    <div id="Loadingpage" [style.display]="LoadingPage" >
      <div class="text-center">
          <div class="ptl pbm">
              <span class="vm-loader"></span>
          </div>
          <div class="pts loading-txt">Please Wait...</div>
      </div>
    </div>

    <div id="Loadingpage" [style.display]="LoadingPageload" >
      <div class="text-center">
          <div class="ptl pbm">
              <span class="vm-loader"></span>
          </div>
          <div class="pts loading-txt">Please Wait...</div>
      </div>
    </div>

      <div [ngSwitch]="view" [style.display]="calenderView" style="cursor: pointer;" class="unselectablediv"> 
              <mwl-calendar-month-view
              *ngSwitchCase="'month'"
              [viewDate]="viewDate"
              [events]="events"
              (beforeViewRender)="beforeMonthViewRender($event)"
              (dayClicked)="dayClicked($event.day)" [cellTemplate]="customCellTemplate" [refresh]="refresh">
            </mwl-calendar-month-view>

      </div>
    
      <div class="auth-card-btn-box text-center" [style.display]="calenderView">
          <div class="text-center">
                <!-- <button type="submit" [style.cursor]="!form.valid ? 'not-allowed' : 'pointer' " [disabled]="!form.valid || !avialableEmail" class="btn-vm-auth" >Register</button> -->
                <button type="button"  [style.display]="selectedDates.length  <= 0 && offDaysremove.length <=0  ? 'none' : 'block' " class="btn-vm-auth2" (click)="done()" >Done</button>    
                <button type="button" [style.cursor]="selectedDates.length  <= 0 && offDaysremove.length <=0 ? 'not-allowed' : 'pointer' " [style.display]="selectedDates.length  <= 0 && offDaysremove.length <=0  ? 'block' : 'none' " class="btn-vm-auth2" disabled="disabled"  style="background: lightgrey; border-color: lightgrey;" >Done</button>                      
          </div>
      </div>
<!-- </div> -->
<br>