<div class="container-fluid">
    <div class="auth-card">
        <div class="logo-box">
            <embed src="assets/img/svg/logo.svg">
        </div>
        <!-- panel1 -->
        <form [formGroup]="form" (ngSubmit)="changepass()">
            <div id="Loadingpage" [style.display]="Loadingpage">
                <div class="text-center">
                    <div class="ptl pbm">
                        <span class="vm-loader"></span>
                    </div>
                    <div class="pts loading-txt">Please Wait...</div>
                </div>
            </div>
            <div class="panel" [style.display]="Loadingbox">
                <div class="panel1" *ngIf="panel == 1">
                    <div class="auth-card-fields">
                        <div class="questionbox">
                            <mat-form-field style="width: 100%;">
                                <input matInput placeholder="Email" type="email" maxlength="50" [(ngModel)]='email'
                                    formControlName="email" />
                                <mat-error *ngIf="form.get('email').invalid && (form.get('email').dirty || form.get('email').touched)">
                                    <span *ngIf="form.get('email').hasError('required')">
                                        Email is required.
                                    </span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="panel2" *ngIf="panel == 2">
                    <div class="auth-card-fields">
                        <div class="questionbox">
                            <mat-form-field style="width: 100%;">
                                <input matInput placeholder="{{question1}}" type="text" maxlength="50" [(ngModel)]='answer1'
                                    formControlName="answer1" />
                                <mat-error *ngIf="form.get('answer1').invalid && (form.get('answer1').dirty || form.get('answer1').touched)">
                                    <span *ngIf="form.get('answer1').hasError('required')">
                                        Answer is required.
                                    </span>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field style="width: 100%;">
                                <input matInput placeholder="{{question2}}" type="text" maxlength="50" [(ngModel)]='answer2'
                                    formControlName="answer2" />
                                <mat-error *ngIf="form.get('answer2').invalid && (form.get('answer2').dirty || form.get('answer2').touched)">
                                    <span *ngIf="form.get('answer2').hasError('required')">
                                        Answer is required.
                                    </span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="panel3" *ngIf="panel == 3">
                    <div class="auth-card-fields">
                        <div class="questionbox">
                            <!-- <h6>Verification code</h6> -->



                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field flex class="registration-form-full-width">
                                        <input matInput placeholder="Verification Code" type="text" maxlength="50"
                                            [(ngModel)]='key' formControlName="key" />
                                        <mat-error *ngIf="form.get('key').invalid && (form.get('key').dirty || form.get('key').touched)">
                                            <span *ngIf="form.get('key').hasError('required')">
                                                Verification Code is required.
                                            </span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-12">
                                    <mat-form-field flex class="registration-form-full-width">
                                        <mat-select [(ngModel)]='secretQuestion1' placeholder="Secret Question # 1"
                                            formControlName="secretQuestion1">
                                            <mat-option *ngFor="let secret of secretQuestions" [value]="secret.question">
                                                {{ secret.question }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="form.get('secretQuestion1').hasError('required') 
                                                        && (form.get('secretQuestion1').dirty || form.get('secretQuestion1').touched)">
                                            Secret Question # 1 is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-12">
                                    <mat-form-field flex class="registration-form-full-width">
                                        <mat-select [(ngModel)]='secretQuestion2' placeholder="Secret Question # 2"
                                            formControlName="secretQuestion2">
                                            <mat-option *ngFor="let secret of secretQuestions" [value]="secret.question">
                                                {{ secret.question }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="form.get('secretQuestion2').hasError('required') && (form.get('secretQuestion2').dirty || form.get('secretQuestion2').touched)">
                                            Secret Question # 2 is required
                                        </mat-error>
                                    </mat-form-field>

                                </div>
                                <div class="col-md-6">
                                    <mat-form-field flex class="registration-form-full-width">
                                        <input matInput placeholder="Secret Answer # 1" type="text" [(ngModel)]='secretAnswer1'
                                            formControlName="secretAnswer1" />
                                        <mat-error *ngIf="form.get('secretAnswer1').hasError('required') && form.get('secretAnswer1').invalid && (form.get('secretAnswer1').dirty || form.get('secretAnswer1').touched)">
                                            Secret Answer # 1 is required
                                        </mat-error>
                                        <mat-error *ngIf="form.get('secretAnswer1').hasError('minlength') && (form.get('secretAnswer1').dirty || form.get('secretAnswer1').touched)">
                                            Secret Answer # 1 should be minimum 5 characters
                                        </mat-error>
                                        <mat-error *ngIf="form.get('secretAnswer1').hasError('maxlength') && (form.get('secretAnswer1').dirty || form.get('secretAnswer1').touched)">
                                            Secret Answer # 1 should be maximum 20 characters
                                        </mat-error>
                                        <mat-error *ngIf="form.get('secretAnswer1').hasError('whitespace') && !form.get('secretAnswer1').hasError('required') && !form.get('secretAnswer1').hasError('minlength') && !form.get('secretAnswer1').hasError('maxlength')">
                                            Remove all extra spaces
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field flex class="registration-form-full-width">
                                        <input matInput placeholder="Secret Answer # 2" type="text" [(ngModel)]='secretAnswer2'
                                            formControlName="secretAnswer2" />
                                        <mat-error *ngIf="form.get('secretAnswer2').hasError('required') && (form.get('secretAnswer2').dirty || form.get('secretAnswer2').touched)">
                                            Secret Answer # 2 is required
                                        </mat-error>
                                        <mat-error *ngIf="form.get('secretAnswer2').hasError('minlength') && (form.get('secretAnswer2').dirty || form.get('secretAnswer2').touched)">
                                            Secret Answer # 2 should be minimum 5 characters
                                        </mat-error>
                                        <mat-error *ngIf="form.get('secretAnswer2').hasError('maxlength') && (form.get('secretAnswer2').dirty || form.get('secretAnswer2').touched)">
                                            Secret Answer # 2 should be maximum 20 characters
                                        </mat-error>
                                        <mat-error *ngIf="form.get('secretAnswer2').hasError('whitespace') && !form.get('secretAnswer2').hasError('required') && !form.get('secretAnswer2').hasError('minlength') && !form.get('secretAnswer2').hasError('maxlength')">
                                            Remove all extra spaces
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field flex class="registration-form-full-width">
                                        <input matInput placeholder="New Password" type="password" maxlength="20"
                                            [(ngModel)]='pass' formControlName="pass" />
                                        <span matSuffix>
                                            <ng2-password-strength-bar [passwordToCheck]="pass">
                                            </ng2-password-strength-bar>
                                        </span>
                                        <mat-error *ngIf="form.get('pass').hasError('required') && (form.get('pass').dirty || form.get('pass').touched)">
                                            Password is required.
                                        </mat-error>
                                        <mat-error *ngIf="form.get('pass').hasError('pattern') && (form.get('pass').dirty || form.get('pass').touched)">
                                            Password should be between 8-20 characters with 1 Uppercase letter and 1
                                            number.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field flex class="registration-form-full-width">
                                        <input matInput placeholder="Confirm Password" type="password" maxlength="20"
                                            [(ngModel)]='passconfirm' formControlName="passconfirm" />
                                        <span *ngIf="form.hasError('passmatch') && (form.get('passconfirm').dirty && form.get('passconfirm').touched)"
                                            matSuffix style='color:red;font-size:8pt'>Not Matched</span>
                                        <mat-error *ngIf="form.get('passconfirm').hasError('required') && (form.get('passconfirm').dirty || form.get('passconfirm').touched)">
                                            Confirm password is required.
                                        </mat-error>

                                    </mat-form-field>
                                </div>

                                <mat-error *ngIf="form.hasError('sameQuestions') 
                                && (form.get('secretQuestion1').dirty || form.get('secretQuestion1').touched && !form.get('secretQuestion1').hasError('required'))
                                && (form.get('secretQuestion2').dirty || form.get('secretQuestion2').touched && !form.get('secretQuestion2').hasError('required'))">
                                    Secret Question should be different from each other
                                </mat-error>
                                <mat-error *ngIf="form.hasError('sameAnswers')
                                    && (form.get('secretAnswer1').dirty || form.get('secretAnswer1').touched  && !form.get('secretAnswer1').hasError('required'))
                                    && (form.get('secretAnswer2').dirty || form.get('secretAnswer2').touched  && !form.get('secretAnswer2').hasError('required'))">
                                    Secret Answer should be different from each other
                                </mat-error>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="auth-card-btn-box text-center">
                    <div class="text-center">
                        <button type="submit" [style.display]="submitbutton" [style.cursor]="!form.valid ? 'not-allowed' : 'pointer' "
                            [disabled]="!form.valid" class="btn-vm-auth">Submit</button>
                        <!-- <button type="button" [style.display]="checkanserbtn" [style.cursor]="!form.valid ? 'not-allowed' : 'pointer' " [disabled]="!form.valid"
                            class="btn-vm-auth" (click)="resetpass()">Reset Password</button>
                        <button type="button" [style.display]="checkkeybutton" [style.cursor]="!form.valid ? 'not-allowed' : 'pointer' " [disabled]="!form.valid"
                            class="btn-vm-auth" (click)="checkanswer()">Submit Answers</button> -->

                    </div>
                    <div>
                        <br> Go back to
                        <a [routerLink]="['/login']">Sign in</a>

                    </div>

                </div>

            </div>

            <!-- panel2 -->
        </form>


    </div>
</div>