.table
{
    font-size: 0.95rem;
}
#scrollbox{
    overflow-x:auto;
    width: 100%;
}
th{
    min-width: 130px;
}
.mat-form-field{
    width: 30%;
    margin-right: 20px;
}
.wd-9x {
    max-width: 900px;
    margin: auto;
}

.vm-heading {
    font-size: 25px;
    color: #00AECC;
    font-weight: normal;
    margin-bottom: 30px;
}

.session-card1 {
    /* border: 1px solid #929292;
    border-radius: 5px; */
    padding: 3%;
    margin-bottom: 15px;
    background: whitesmoke;
}
.session-card2 {
    /* border: 1px solid #929292;
    border-radius: 5px; */
    padding: 3%;
    margin-bottom: 15px;
    background: white;
}
.session-card3 {
    /* border: 1px solid #929292;
    border-radius: 5px; */
    padding: 3%;
    margin-bottom: 15px;
    background: rgba(152, 185, 194, 0.205);
}

.issue-type {
    color: #414042;
    font-size: 20px;
    text-transform: capitalize;
    position: relative;
}

.hospital-name {
    color: #b2b2b2;
    font-size: 17px;
    text-transform: capitalize;
}

.issue-type i {
    position: absolute;
    font-size: 26px;
    left: -36px;
    top: 3px;
    color: #e62f53;
    visibility: hidden;
}
.issue-type.show-ico i {
    visibility: visible;
}

.list-btn {
    background: transparent;
    border: 1px solid #929292;
    height: 32px;
    line-height: 32px;
    border-radius: 16px;
    padding: 0 10px;
    font-size: 18px;
    color: #00AECC;
    position: relative;
    cursor: pointer;
    margin: 15px 0 15px 15px;
    outline: none;
    vertical-align: middle;
}

.list-btn.list-btn-ico > i {
   position: absolute;
   font-size: 22px;
   left: 5px;
   top: 50%;
   margin-top: -11px;
}

.list-btn.list-btn-ico {
   padding-left: 34px;
}

.list-btn.list-btn-ico.green-btn {
    background-color: #4cda64;
    color: #fff;
    border-color: #4cda64;
}

.list-chat-btn {
    border: none;
    padding: 0;
    font-size: 46px;
    position: relative;
    color: #929292;
    line-height: 45px;
    vertical-align: middle;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.notify-count {
    position: absolute;
    height: 24px;
    font-size: 13px;
    background-color: #ff2c55;
    color: #fff;
    line-height: 24px;
    padding: 0 4px;
    min-width: 24px;
    text-align: center;
    border-radius: 12px;
    font-weight: 500;
    right: -12px;
    top: -6px;
}

.list-btn-round {
    border: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    position: relative;
    border-radius: 50%;
    margin: 8px 0 8px 15px;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
}

.list-btn-round i {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -15px;
    color: #fff;
}

.list-btn-round.decline-btn {
    background-color: #FF2C55;
}

.list-btn-round.accept-btn {
    background-color: #4CDA64;
}

.session-card.current {
    border-color: #00AECC;
}

.session-card.current .issue-type {
    color: #00AECC;
}
.list-btn-round.light {

    background-color: #00AECC;
    color: #929292;
}

.list-btn-round.dark {
    background-color: #929292;
    color: #fff;
}