<div class="container-fluid">
    <div class="auth-card">
        <div class="logo-box">
            <embed src="assets/img/svg/logo.svg">
        </div>
         <!-- panel1 -->
        <form [formGroup]="form" (keydown.enter)="$event.preventDefault()" >
                <div id="Loadingpage" [style.display]="Loadingpage">
                        <div class="text-center">
                            <div class="ptl pbm">
                                <span class="vm-loader"></span>
                            </div>
                            <div class="pts loading-txt">Please Wait...</div>
                        </div>
                    </div>
             <div class="panel" [style.display]="Loadingbox">       
            <div class="panel1" *ngIf="panel == 1" >
                <div class="auth-card-fields">
                    <div class="questionbox">
                        <mat-form-field style="width: 100%;">
                            <input matInput placeholder="Email" type="email" maxlength="50" [(ngModel)]='email' formControlName="email" />
                            <mat-error *ngIf="form.get('email').invalid && (form.get('email').dirty || form.get('email').touched)">
                                <span *ngIf="form.get('email').hasError('required')">
                                    Email is required.
                                </span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="panel2" *ngIf="panel == 2" >
                    <div class="auth-card-fields">
                        <div class="questionbox">
                            <!-- <h6>Verification code</h6> -->
                           
                            <mat-form-field style="width: 100%;">
                                    <input matInput placeholder="{{question1}}" type="text" maxlength="50" [(ngModel)]='answer1' formControlName="answer1"
                                    />
                                    <mat-error *ngIf="form.get('answer1').invalid && (form.get('answer1').dirty || form.get('answer1').touched)">
                                        <span *ngIf="form.get('answer1').hasError('required')">
                                            Answer is required.
                                        </span>
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field style="width: 100%;">
                                    <input matInput placeholder="{{question2}}" type="text" maxlength="50" [(ngModel)]='answer2' formControlName="answer2"
                                    />
                                    <mat-error *ngIf="form.get('answer2').invalid && (form.get('answer2').dirty || form.get('answer2').touched)">
                                        <span *ngIf="form.get('answer2').hasError('required')">
                                            Answer is required.
                                        </span>
                                    </mat-error>
                                </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="panel3" *ngIf="panel == 3" >
                    <div class="auth-card-fields">
                        <div class="questionbox">
                            <!-- <h6>Verification code</h6> -->
                            <mat-form-field style="width: 100%;">
                                    <input matInput placeholder="Verification Code" type="text" maxlength="50" [(ngModel)]='key' formControlName="key" />
                                    <mat-error *ngIf="form.get('key').invalid && (form.get('key').dirty || form.get('key').touched)">
                                        <span *ngIf="form.get('key').hasError('required')">
                                            Verification Code is required.
                                        </span>
                                    </mat-error>
                                </mat-form-field>
                            <mat-form-field style="width: 100%; margin-top: 11px;">
                                <input matInput placeholder="New Password" type="password" maxlength="20" [(ngModel)]='pass' formControlName="pass" />
                                <span matSuffix>
                                    <ng2-password-strength-bar
                                        [passwordToCheck]="pass"
                                       >
                                    </ng2-password-strength-bar>
                                </span>
                                <mat-error *ngIf="form.get('pass').hasError('required') && (form.get('pass').dirty || form.get('pass').touched)">
                                    Password is required.
                                </mat-error> 
                                <mat-error *ngIf="form.get('pass').hasError('pattern') && (form.get('pass').dirty || form.get('pass').touched)">
                                    Password should be between 8-20 characters with 1 Uppercase letter and 1 number.
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field style="width: 100%; margin-top: 11px;">
                                <input matInput placeholder="Confirm Password" type="password" maxlength="20" [(ngModel)]='passconfirm' formControlName="passconfirm" />
                                <span  *ngIf="form.hasError('nomatch') && (form.get('passconfirm').dirty && form.get('passconfirm').touched)"
                                matSuffix style='color:red;font-size:8pt'>Not Matched</span>
                                <mat-error *ngIf="form.get('passconfirm').hasError('required') && (form.get('passconfirm').dirty || form.get('passconfirm').touched)">
                                   Confirm password is required.
                                </mat-error> 
                               
                            </mat-form-field>                       
                        </div>
                    </div>
                </div>
           
                <div class="auth-card-btn-box text-center">
                    <div class="text-center">
                        <button type="button"  [style.display]="checkanserbtn"  [style.cursor]="!form.valid ? 'not-allowed' : 'pointer' " [disabled]="!form.valid" class="btn-vm-auth" (click)="resetpass()" >Reset Password</button>
      
                        <button type="button"  [style.display]="checkkeybutton"  [style.cursor]="!form.valid ? 'not-allowed' : 'pointer' " [disabled]="!form.valid" class="btn-vm-auth" (click)="checkanswer()" >Submit Answers</button>
                        <button type="button" [style.display]="submitbutton"  [style.cursor]="!form.valid ? 'not-allowed' : 'pointer' " [disabled]="!form.valid" class="btn-vm-auth" (click)="changepass()" >Change Password</button>
                        
                    </div>
                    <div>
                        <br>
                             Go back to <a [routerLink]="['/login']">Sign in</a>
                            
                    </div>

                </div>

            </div>
            
            <!-- panel2 -->
        </form>


    </div>
</div>