<!-- <div class="container">
    <aside class="sidebar">
      <div class="scrollable">
          <div class="user">
            <div class="user-info">
              <img class="user-img" src="assets/img/social-cxn-profile.jpg" alt="walmart">
              <div class="box">
                <div class="user-name">Walmart</div>
                <div class="user-about">Lorem ipsum dolar sit emit</div>
                <div class="user-location"><md-icon>location_on</md-icon> San Fransisco</div>
              </div>
            </div>
          </div>
          <ul class="navigation">
            <li><a (click) = "getHome()"><md-icon>home</md-icon>Home</a></li>
            <li><a><md-icon>dashboard</md-icon>Dashboard</a></li>
            <li><a (click) = "getProfile()" ><md-icon>account_circle</md-icon>Profile</a></li>
            <li><a><md-icon>supervisor_account</md-icon>User Management</a></li>
            <li><a (click) = "startCampaign()"><md-icon>view_module</md-icon>Campaigns</a></li>
            <li><a (click) = "brandCampaignList()"><md-icon>view_module</md-icon>Brand Campaign List</a></li>
            <li><a (click) = "influencerCampaignList()"><md-icon>view_module</md-icon>Influencer Campaign List</a></li>
            <li><a (click) = "searchInfluencer()"><md-icon>nature_people</md-icon>Influencer</a></li>
            <li><a><md-icon>inbox</md-icon>Inbox</a></li>
            <li><a><md-icon>monetization_on</md-icon>Transactions</a></li>
            <li><a><md-icon>assignment</md-icon>Reports</a></li>
            <li><a><md-icon>mail</md-icon>Send Email</a></li>
          </ul>
        </div>
    </aside>
</div> -->
<!-- <style>
  span
  {
    margin-Left:5px;
  }
</style>

<div class="sidebar-content">
    <mat-list>
        <mat-list-item>
          <mat-icon matPrefix class="material-icons" >home</mat-icon>
          <span>Home</span>
        </mat-list-item>

        <mat-list-item>
            <mat-icon matPrefix class="material-icons" >dashboard</mat-icon>
            <span>Dashboard</span>
        </mat-list-item>

        <mat-list-item>
            <mat-icon matPrefix class="material-icons" >contacts</mat-icon>
            <span >Contact us</span>
        </mat-list-item>
        
        <mat-list-item>
              <mat-icon matPrefix class="material-icons" >work</mat-icon>
              <span >About us</span>
        </mat-list-item>
      </mat-list>

</div> -->