<div id="call-connecting" class="call-connecting">
    <div class="loading-display-box">
        <div class="loding-box">
            <div class="connecting-icon-container">
                <div class="connecting-icon-box">
                    <i class="material-icons">
                        laptop_mac
                    </i>
                </div>
                <div class="connecting-icon-box">
                    <div id="connecting1" class="material-icons-animation">
                        <div class="loader">Loading...</div>
                    </div>
                </div>
                <div class="connecting-icon-box">
                    <i class="material-icons">
                        language
                    </i>
                </div>
                <div class="connecting-icon-box">
                    <div id="connecting2" class="material-icons-animation">
                        <div class="loader">Loading...</div>
                    </div>
                </div>
                <div class="connecting-icon-box">
                    <i class="material-icons">
                        storage
                    </i>
                </div>
                <div class="connecting-icon-box">
                    <div id="connecting3" class="material-icons-animation">
                        <div class="loader">Loading...</div>
                    </div>
                </div>
                <div class="connecting-icon-box">
                    <i class="material-icons">
                        desktop_mac
                    </i>
                </div>
            </div>
        </div>
        <div
            style="border: 0px solid black; width: 195px; height:100px; position: absolute; top:1;bottom: 0;left: 0;right: 0;margin: auto; "
        ></div>
    </div>
</div>
<br />
<!-- connected Requests{ -->
<div *ngFor="let request of requests; let rowIndex = index">
    <div *ngIf="request.currentStateName == 'Connected'">
        <div class="session-card-reconnect">
            <h6 *ngIf="connectedSessions > 1" class="count-bubble">
                {{ connectedSessions }}
            </h6>
            <h6 style="text-align: center">
                It seems your session was interupted you can either reconnect or
                end session
            </h6>
            <h6 style="text-align: center">
                {{ request.facilityName }} -
                {{ request.specialityName }}
            </h6>
            <div class="row">
                <div style="margin-left: auto; margin-right: auto;">
                    <button
                        class="list-btn list-btn-ico green-btn"
                        (click)="
                            callReconnect(
                                request.id,
                                request.connectionFrom,
                                request.facilityName,
                                request.reasonForRequest,
                                request.specialityName,
                                request.endPoint,
                                request.endPointId
                            )
                        "
                    >
                        <i class="icon_vm_phone"></i>Reconnect
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ------------ -->

<div class="tab-container-box">
    <mat-tab-group>
        <mat-tab label="Today's Appointment">
            <div style="padding-right: 25px; padding-left: 25px;">
                <div style="float: right;">
                    <button
                        id="resetButton"
                        class="list-btn-round light"
                        (click)="getRequests()"
                    >
                        <i id="camIcon" class="icon_vm_refresh"></i>
                    </button>
                </div>
                <div style="clear:both;"></div>

                <div class=".ps-rev" style="border: 0px solid black;">
                    <div
                        id="Loadingpage"
                        [style.display]="visibilityLoginSpinner"
                    >
                        <div class="text-center">
                            <div class="ptl pbm">
                                <span class="vm-loader"></span>
                            </div>
                        </div>
                    </div>
                    <h6
                        [style.display]="visibilitysessionmessage"
                        class="nodata"
                    >
                        There are no VeeClinic sessions pending.
                    </h6>
                    <!-- Pending Requests{ -->
                    <div
                        *ngFor="
                            let request of currentSessions;
                            let rowIndex2 = index
                        "
                    >
                        <div
                            *ngIf="
                                request.currentStateName ==
                                    'SessionRequested' &&
                                visibilityLoginSpinner != 'block'
                            "
                        >
                            <div class="session-card1">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="issue-type  mll">
                                            <i class="icon_vm_warning"></i
                                            >{{
                                                request.specialityName +
                                                    ' Call Waiting....'
                                            }}
                                        </div>
                                        <div class="hospital-name mll">
                                            {{ request.facilityName }}
                                        </div>
                                        <div class="hospital-name mll">
                                            {{
                                                request.pendingSince
                                                    | date: 'MMM d, y, h:mm a'
                                            }}
                                        </div>
                                        <div class="hospital-name mll">
                                            {{
                                                getUTCDate(request.startDate)
                                                    | date: 'shortTime'
                                            }}
                                        </div>
                                        <div class="hospital-name mll">
                                            {{
                                                request.patientLastName +
                                                    ' ' +
                                                    request.patientFirstName
                                            }}
                                        </div>
                                        <div class="hospital-name mll">
                                            Reason: Headache
                                        </div>
                                        <div class="hospital-name mll">
                                            Visit Type: Consult
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 text-right">
                                        <button
                                            class="list-btn-round accept-btn"
                                            (click)="
                                                callAccept(
                                                    request.id,
                                                    request.facilityName,
                                                    request.reasonForRequest,
                                                    request.specialityName,
                                                    request.endPoint,
                                                    request.endPointId
                                                )
                                            "
                                        >
                                            <i class="icon_vm_phone"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <hr />
            <br />
            <div
                id="container"
                [style.display]="
                    visibilityLoginSpinner === 'block' ? 'none' : 'block'
                "
            >
                <table class="table">
                    <tr class="table-custom-border">
                        <th>MRN #</th>
                        <th>Time</th>
                        <th>Date</th>
                        <th>Patient</th>
                        <th>Visit Type</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td [style.display]="zeroResults" colspan="6">
                            <h6 class="nodata">There are no appointments</h6>
                        </td>
                    </tr>
                    <tr *ngFor="let appointment of Appointments">
                        <td>{{ appointment.mrn }}</td>
                        <td>
                            {{
                                (getUTCDate(appointment.startDate)
                                    | date: 'shortTime') +
                                    ' - ' +
                                    (getUTCDate(appointment.endDate)
                                        | date: 'shortTime')
                            }}
                        </td>
                        <td>
                            {{ appointment.startDate | date: 'mediumDate' }}
                        </td>
                        <td>
                            {{
                                appointment.patientLastName +
                                    ' ' +
                                    appointment.patientFirstName
                            }}
                        </td>
                        <td>
                            {{ appointment.type }}
                        </td>
                        <td>{{ appointment.currentStateName }}</td>
                    </tr>
                </table>
            </div>
        </mat-tab>
        <mat-tab label="Search Appointments">
            <my-appointments></my-appointments>
        </mat-tab>
    </mat-tab-group>
</div>
