.textField label {
    font-size: 15px;
    font-weight: 600;
    width: 180px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.textField {
    margin-bottom: 15px;
}

.textField input {
    height: 40px;
    resize: vertical;
    word-break: break-word;
    font-size: 1em;
    padding: 5px;
    border: 1px solid #bcbcbc;
    color: #333;
    outline: none;
    vertical-align: middle;
}