$mat-csgreen: (
  50: #E1F5FE,
  100: #B3E5FC,
  200: #81D4FA,
  300: #4FC3F7,
  400: #29B6F6,
  500: #00aecc,
  600: #00aecc,
  700: #0288D1,
  800: #0277BD,
  900: #01579B,
  A100: #80D8FF,
  A200: #40C4FF,
  A400: #00B0FF,
  A700: #0091EA,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $black-87-opacity,
  )
);